%p.mt-5.text-center.text-success
  Pokud jsem to naprogramoval správně tak toto by jsi měl vidět jen ty a můžeš si tady v klidu ukládat co chceš a já tímto slibuji že se na to nebudu koukat :)

.col-sm-12.mt-5{ data: { controller: 'dropzone', dropzone_path_value: '/storage/file' } }
  .dropzone{ data: { dropzone_target: 'dropzoneid' } }
%button.btn.btn-success.mt-3{ type: 'button', onclick: 'location.reload();' }
  Save

#instances.flex.mt-5
  .table.mt-4
    %thead
      %tr
        .row
          .col
            %th
              %h3 IP Address
          .col
            %th
              %h3 Date Uploaded
          .col
            %th
              %h3 File Name
          .col
            %th
              %h3 Delete
    %tbody
    - @instances.each do |instance|
      %tr
        .row
          .col
            %td
              = instance.ip_address || 'Unknown'
          .col
            %td
              = instance.created_at.strftime('%d.%m.%Y %H:%M')
          .col
            %td
              = link_to truncate(instance.files.filename.to_s, length: 30, omission: '...'), rails_blob_path(instance.files, disposition: 'attachment')
          .col
            %td
              = button_to 'Delete', delete_public_storage_path(instance.id), method: :delete, class: 'btn btn-danger'
