.row.mt-5.min-vh-100
  .col-md-8.col-sm-12
    %h1.fw-medium
      Online ISDOC Reader
    %p.mt-5.fs-3.text-justify.text-muted
      Formát .isdoc se používá pro výměnu faktur mezi podniky, ale vzhledem k jeho specifikům není snadné ho jednoduše zobrazovat. Proto byl vytvořen webový prohlížeč, který umožňuje uživatelům náhled a prohlížení dokumentů v tomto formátu.
    = link_to 'Isdoc READER', '#isdoc', class: 'btn btn-primary mt-3'
  .col-md-4.mt-5.col-sm-12
    = image_tag('/example_isdoc.png', alt: 'Example ISDOC', class: 'img-fluid')
  .row
    .col
      .arrow-down.mx-auto
#isdoc.min-vh-100.mb-5
  .row
    %h1.text-center.mb-3
      Přilož soubor
    %form.dropzone.w-50.mx-auto{ id: 'myId', action: '/' }
  .col
    = link_to 'Stáhnout vzorový .isdoc', download_example_path, class: 'btn btn-secondary m-3 float-end'
.row
  %iframe#invoice-preview2.text-center.mx-auto.mt-5{ style: 'width: 100%; height: 2000px; display: none;' }
