%form.dropzone#myId{:action => "/"}
%button.btn.btn-success.mt-2{"data-bs-target" => "#exampleModal", "data-bs-toggle" => "modal", :type => "button"}
  = "Náhled"
  
/ Modal
#exampleModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "exampleModalLabel", :tabindex => "-1"}
  .modal-dialog.modal-xl
    .modal-content
      .modal-body
        %iframe#invoice-preview{:src => "", :style => "width: 100%; height: 90vh; display: none;"},
