// Entry point for your Sass build
.isdoc.show {
    .isdoc-table {
      th {
        padding-left: 0;
      }
    }

    .isdoc-heading {
      font-size: 0.875rem;
      font-weight: 300;
      margin: 2.5rem 0 0 -1rem;
      padding: 0.5rem;
      padding-left: 1rem;
      border-bottom: 1px solid #e0e0e0;
      background-color: #f2f2f2;
    }
  }

  @media screen and (max-width: 570px) {
    .isdoc.show {
      main .container {
        padding: 1rem;
      }
    }
  }

.arrow-down {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 30px solid #333; /* Increase the height to make the arrow bigger */
  animation: moveDown 1s ease-in-out infinite; /* Add animation to make it move down */
}

@keyframes moveDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(20px); /* Adjust the distance it moves down */
  }
  100% {
    transform: translateY(0);
  }
}

.plain-button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  outline: inherit;
}