%h3.mt-5.text-center.text-danger
  Všechny uložené soubory se automaticky uploadují na Pornhub, tak si dávej bacha co tady dáváš ;)

.col-sm-12.mt-5{ data: { controller: 'dropzone', dropzone_path_value: '/public_storage/file' } }
  .dropzone{ data: { dropzone_target: 'dropzoneid' } }

%button.btn.btn-success.mt-3{ type: 'button', onclick: 'location.reload();' }
  Save

#instances.flex.mt-5
.table
  %thead
  %tbody
  - @instances.each do |instance|
    %tr
      %td
        = instance.created_at.strftime('%d.%m.%Y %H:%M')
      %td
        = link_to instance.files.filename, rails_blob_path(instance.files, disposition: 'attachment')
      %br
