%h3.mt-5.text-center.text-danger
  Important! This is a public storage. All files can be accessed by anyone.

.col-sm-12.mt-4{ data: { controller: 'dropzone', dropzone_path_value: '/public_storage/file' } }
  .dropzone{ data: { dropzone_target: 'dropzoneid' } }

%button.btn.btn-success.mt-4.mb-4{ type: 'button', onclick: 'location.reload();' }
  Refresh List

.table.mt-4
  %tbody
  - @instances.each do |instance|
    %tr
      .row
        .col
          %td
            = instance.ip_address || 'Unknown'
        .col
          %td
            = instance.created_at.strftime('%d.%m.%Y %H:%M')
        .col
          %td
            = link_to truncate(instance.files.filename.to_s, length: 30, omission: '...'), rails_blob_path(instance.files, disposition: 'attachment')

